body,html,#root{
  height: 100%;
}
body{
  font-size: 32px;
}
.section{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header{
  height: 80px;
  background: blue;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container{
  display: flex;
  height: 100%;
}
.section nav,
.section main{
  background: olive;
  width: 50%;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section main{
  background: orangered;
}
